// BasicInfo.scss
.info__block {
    padding: 21px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .basic {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: right;

        &__img {
            width: 180px;
            height: 180px;
        }

        .basic-info {

            &__text-block {
                display: flex;
                text-align: right;
                font-weight: 700;
                font-size: 38px;
                margin-bottom: 5px;
                white-space: nowrap;


            }

            &__town {
                max-width: 299px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__date {
                font-weight: 400;
                font-size: 20px;
            }

            &__weather {
                margin: 10px 0;
                font-weight: 600;
                font-size: 32px;
            }

            &__temp {
                font-weight: 700;
                font-size: 38px;
            }

            &__feelslike {
                font-weight: 500;
                font-size: 24px;
            }
        }
    }


    .days-forecast {
        width: 100%;
        height: 200px;
        border-radius: 0;
        

        &__list {
            padding: 0;
        }

        &__item {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            height: 90px;
            cursor: grab;
            padding: 0 35px 0 0;
            /* set a specific height */
        }

        &__img {
            width: 50px;
            height: auto;
            /* set a specific height */
        }

        &__temp,
        &__date {
            font-weight: 600;
            font-size: 24px;
        }

        .text {
            font-weight: 500;
            font-size: 18px;
        }
    }
}


.swiper-pagination-bullet-active {
    background: white;
}


.swiper-slide {
    display: flex;
}

.swiper-vertical>.swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.skeleton {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_block {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        height: 200px;
    }

    &_text-block {
        max-height: 180px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &_bottom {
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
} 

.notranslate {
    padding: 0;
    outline: none;
    margin: 0;
    width: 0;
    height: 0;
    display: none;
}




@media only screen and (max-width: 1500px) {
    .info__block{
        gap: 20px;
    }
}