img {
    width: clamp(40px, 45px, 50px);
    height: auto;
}


.current-info__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    justify-items: center;
    font-weight: 600;
    font-size: clamp(0.5rem, 2.5vw, 1rem);

    .grid__item {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-radius: 25px;
        max-width: 800px;
        width: 100%;
        background: #161616;
        text-align: center;

        &__name {
            font-weight: bold;
        }

        &__sun {
            display: flex;
            gap: 20px;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }
        }
    }
}


.MuiSkeleton-root {
    border-radius: 15px;
}


@media only screen and (max-width: 700px) {
    .current-info__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}