body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #fff;
    background: #1E1E1E;
    display: grid;
    justify-content: center;
    align-items: center;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    transition: 0.3s ease-in-out;

}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.container {
    display: flex;
    gap: 21px;
    max-width: 1437px;
    width: 100%;
    box-sizing: border-box;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
}

.line {
    width: 100%;
    border: 1px solid #ffff;
}


@media only screen and (max-width: 1500px) {
    .container {
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    body {
        display: block;
    }
}